/*

desktop

*/

.dashboardTitle {
  margin: 68px 0px 68px 0px;
}

.user {
  font-size: 48px;
  margin-bottom: 30px;
}

.user span {
  color: #ff0000;
}

.userText {
  font-size: 18px;
  font-weight: 400;
}
