/* 

desktop 

*/

/* ===== dashboard ===== */

.dashboard {
  display: flex;
}

.dashboardContent {
  margin: auto;
  flex-direction: column;
}

/* ===== dashboardChartsAndBoxes ===== */

.dashboardChartsAndBoxes {
  display: flex;
  margin-bottom: 90px;
}

@media (max-width: 1250px) {
  .dashboardChartsAndBoxes {
    display: flex;
    flex-direction: column;
  }
}

/* For macronutrients boxes style => go to components/MacronitrientsBox */

/* ===== dashboardCharts =====*/

.dashboardCharts {
  margin-right: 40px;
}

@media (max-width: 1250px) {
  .dashboardCharts {
    margin-right: 0;
  }
}

/* ===== barchart ===== */

.barChart {
  position: relative;
  background: #fbfbfb;
  padding: 25px;
  border-radius: 5px;
  max-width: 835px;
  margin: auto;
}

.barChart:before {
  content: 'Activité quotidienne';
  position: absolute;
}

/* ===== bottomSmallCharts ===== */

.bottomSmallCharts {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 835px;
}

@media (max-width: 1250px) {
  .bottomSmallCharts {
    margin: 28px auto 0 auto;
  }
}

/* ===== lineChart ===== */

.lineChart {
  background: #ff0000;
  height: 263px;
  width: 258px;
  border-radius: 5px;
}

/* ===== radarChart ===== */

.radarChart {
  background: #282d30;
  width: 258px;
  height: 263px;
  border-radius: 5px;
}

/* ===== pieChart ===== */

.radialBarChart {
  background: #fbfbfb;
  width: 258px;
  height: 263px;
  border-radius: 5px;
}
