/* 

desktop 

*/

/* ===== dashboard ===== */

.dashboard {
  display: flex;
}

.dashboardContent {
  margin: auto;
  flex-direction: column;
}

/* ===== dashboardChartsAndBoxes ===== */

.dashboardChartsAndBoxes {
  display: flex;
  margin-bottom: 90px;
}

@media (max-width: 1250px) {
  .dashboardChartsAndBoxes {
    display: flex;
    flex-direction: column;
  }
}

/* For macronutrients boxes style => go to components/MacronitrientsBox */

/* ===== dashboardCharts =====*/

.dashboardCharts {
  margin-right: 40px;
}

@media (max-width: 1250px) {
  .dashboardCharts {
    margin-right: 0;
  }
}

/* ===== barchart ===== */

.barChart {
  position: relative;
  background: #fbfbfb;
  padding: 25px;
  border-radius: 5px;
  max-width: 835px;
  margin: auto;
}

.barChart:before {
  content: 'Activité quotidienne';
  position: absolute;
}

/* ===== bottomSmallCharts ===== */

.bottomSmallCharts {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 835px;
}

@media (max-width: 1250px) {
  .bottomSmallCharts {
    margin: 28px auto 0 auto;
  }
}

/* ===== lineChart ===== */

.lineChart {
  background: #ff0000;
  border-radius: 5px;
  position: relative;
}

.lineChart::before {
  content: 'Durée moyenne des sessions';
  position: absolute;
  color: #fff;
  margin: 29px 0 0 29px;
  line-height: 27px;
  width: 200px;
  opacity: 0.5;
}

.background::before {
  position: absolute;
  right: 0;
  content: '';
  border-radius: 0 5px 5px 0;
  background: #000000;
  opacity: 0.1;
  width: 28%;
  height: 100%;
}

.days {
  position: absolute;
  bottom: 16px;
}

.days span {
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
  margin: 14.3px;
}

/* ===== radarChart ===== */

.radarChart {
  background: #282d30;
  width: 258px;
  height: 263px;
  border-radius: 5px;
}

/* ===== radialBarChart ===== */

.radialBarChart {
  background: #fbfbfb;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  position: relative;
}

.radialBarChartScore {
  z-index: 3;
}

.radialBarChartScoreText {
  z-index: 3;
}

.radialBarChart::before {
  position: absolute;
  right: 18%;
  top: 18%;
  content: '';
  border-radius: 50%;
  background: #fff;
  width: 64%;
  z-index: 2;
  height: 64%;
}
