/* 

desktop 

*/

/* ===== dashboard ===== */

.dashboard {
  display: flex;
}

.dashboardContent {
  margin: auto;
  flex-direction: column;
}

/* ===== dashboardChartsAndBoxes ===== */

.dashboardChartsAndBoxes {
  display: flex;
  margin-bottom: 90px;
}

/* ===== dashboardCharts =====*/

.dashboardCharts {
  margin-right: 40px;
}

/* ===== barchart ===== */

.barChart {
  position: relative;
  background: #fbfbfb;
  padding: 25px;
  border-radius: 5px;
}

.barChart:before {
  content: 'Activité quotidienne';
  position: absolute;
}

/* ===== bottomSmallCharts ===== */

.bottomSmallCharts {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

/* ===== lineChart ===== */

.lineChart {
  background: #ff0000;
  height: 263px;
  width: 258px;
  border-radius: 5px;
}

/* ===== radarChart ===== */

.radarChart {
  background: #282d30;
  width: 258px;
  height: 263px;
  border-radius: 5px;
}

/* ===== pieChart ===== */

.radialBarChart {
  background: #fbfbfb;
  width: 258px;
  height: 263px;
  border-radius: 5px;
}
