/* 

desktop

*/

.customTooltipActivity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 39px;
    height: 63px;
    font-size: 7px;
    background: #e60000;
    color: #fff;
  }
  