/*

desktop

*/

.radialBarChart {
  position: relative;
}

.radialBarChartScore {
  position: absolute;
  top: 33%;
  left: 41.5%;
  color: #282d30;
  font-size: 26px;
}

.radialBarChartScoreText {
  position: absolute;
  top: 48%;
  left: 36.5%;
  font-size: 20px;
  line-height: 26px;
  color: #282d30;
  opacity: 0.7;
}
