/*

desktop

*/

.macronutrientBox {
  display: flex;
  background: #fbfbfb;
  width: 258px;
  height: 124px;
  margin-bottom: 39px;
}

.macronutrientBox img {
  width: 60px;
  height: 60px;
  margin: 32px 24px 32px 32px;
}

.macronutrientText h3 {
  font-size: 20px;
  margin-top: 39px;
}

.macronutrientText p {
  font-size: 14px;
  color: #74798c;
  margin-top: 2px;
}

@media (max-width: 1250px) {
  .macronutrientsBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 40px;
    max-width: 835px;
  }

  .macronutrientBox {
    margin: 0;
  }
}
